body {
	margin: 0px;
}
.columns-container {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
}

.leftcol {
	flex-basis: 20%;
	background-color: #ADADAD;

	padding: 15px;

	display: flex;				
	flex-direction: row;		
	flex-wrap: nowrap;			
}

.rightcol {
	flex-basis: 60%;
	background-color: #909090;

	padding: 15px;
}

.logo-container {
	text-align: center;
}

.logo-container img {
	max-width: 100%;
}

.navigation-container {
	display: flex;				
	flex-direction: row;		
	flex-wrap: nowrap;

	padding-top: 50px;
}

.navigation-element {
	display: flex;				
	flex-direction: row;		
	flex-wrap: nowrap;
}

.navigation-element a span{
	margin-right: 5px; 
}

.rightcol .jumbotron {
	padding: 20px;
	background-color: #ADADAD;

	border: solid 2px #333333;
}
.rightcol .jumbotron .btn-primary {
	color: #fff;
	background-color: #333333;
	border-color: #2e2e2e;
	border-width: 2px;

	margin-top: 15px;
}
.rightcol .jumbotron .btn-primary:focus {
	color: #fff;
	background-color: #333333;
	border-color: #202020;
	border-width: 2px;
}
.rightcol .jumbotron .btn-primary:hover {
	color: #fff;
	background-color: #222222;
	border-color: #202020;
	border-width: 2px;
}
.rightcol .jumbotron .btn-primary:active {
	color: #fff;
	background-color: #222222;
	border-color: #202020;
	border-width: 2px;
}
.rightcol .jumbotron .btn-primary:active:focus {
	color: #fff;
	background-color: #434343;
	border-color: #5e5e5e;
	border-width: 2px;
}
.rightcol .email-container {
	display: flex;				
	flex-direction: row;	
	justify-content: flex-end;
	align-items: center;

	font-size: 18px;

	background-color: #ADADAD;
	border: solid 2px #333333;

	padding: 10px;
}

.rightcol .email-container .email-label {
	flex-basis: 90%;
}

.rightcol .email-container .input-group {
	flex-basis: 10%;
}

.rightcol .row {
	margin-top: 25px;
}

.grid-container {
  padding: 0;
  margin-top: 0px;
  list-style: none;
  
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}

.cell-item {
  background: #ADADAD;
  padding: 0;
  width: 230px;
  height: 300px;
  margin-top: 30px;
  
  color: #333333;
  text-align: center;

  border: solid 2px #333333;
}

.cell-item .cell-header {
	font-size: 30px;
	margin-top: 10px;
}

.cell-item .cell-content {
	font-size: 17px;
	margin-top: 10px;
}

.content-container {
	display: flex;				
	flex-direction: column;		
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
}

.content-container hr {
	width: 100%;
	border-color: #333333;
	border-width: 2px;

	margin: 10px;
}

.footer-container {
	min-width: 100%;
	padding-left: 10px;
	padding-right: 10px;

	display: flex;				
	flex-direction: row;		
	flex-wrap: nowrap;
	justify-content: space-between;	
}

.social-networks {
	font-size: 30px;

	display: flex;				
	flex-direction: row;		
	flex-wrap: nowrap;
}

.network {
	margin-left: 20px;
}

.footer-about {
	display: flex;				
	flex-direction: column;		
	flex-wrap: nowrap;
}

.footer-links {
	font-weight: bold;
}

@media (min-width: 900px) {
	.columns-container {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: center;
	}

	.leftcol {			
		flex-direction: column;		
	}

	.navigation-container {	
		flex-direction: column;
	}

	.navigation-element {
		margin-left: 25px;
		margin-right: 25px;
		margin-bottom: 20px;

		font-size: 18px;
	}

	.navigation-element a {
		color: #333333;
		text-decoration: none
	} 

	.content-container hr {
		width: 80%;
	}

	.footer-container {
		min-width: 80%;
		padding-left: 0px;
	}
}

@media (min-width: 640px) and (max-width: 899px) {
	.navigation-element {
		margin-left: 25px;
		margin-right: 25px;
		margin-bottom: 20px;

		font-size: 18px;
	}

	.navigation-element a {
		color: #333333;
		text-decoration: none
	}

	.rightcol .row {
		margin-top: 25px;
	}
}

@media (min-width: 560px) and (max-width: 639px) {
	.navigation-element {
		margin-left: 25px;
	}

	.navigation-element a span{
		visibility: hidden; 
	}

	.rightcol .jumbotron p {

		font-size: 16px;
	}
	.rightcol .jumbotron h1 {
		font-size: 24px;
	}

	.rightcol .email-container {
		font-size: 16px;
	}

	.cell-item .cell-header {
		font-size: 24px;
	}

	.cell-item .cell-content {
		font-size: 16px;
		padding: 5px;
	}

	.social-networks {
		font-size: 24px;
	}

	.footer-about {
		font-size: 12px;
	}
}

@media (max-width: 559px) {
	.leftcol {
		flex-direction: column-reverse;		
	}

	.navigation-container {
	  	justify-content: space-around;
	  	padding-top: 10px;
	  	padding-bottom: 20px;
	}

	.navigation-element a span{
		visibility: hidden; 
	}

	.rightcol .jumbotron p {
		font-size: 16px;
	}
	.rightcol .jumbotron h1 {
		font-size: 24px;
	}

	.rightcol .email-container {
		flex-direction: column;	
		font-size: 16px;

		align-items: left;
	}

	.rightcol .email-container .input-group {
		margin-top: 5px;
	}


	.rightcol .row {
		margin-top: 25px;
	}

	.cell-item .cell-header {
		font-size: 24px;
	}

	.cell-item .cell-content {
		font-size: 16px;
		padding: 5px;
	}

	.social-networks {
		font-size: 24px;
	}

	.footer-about {
		font-size: 12px;
	}
}