body {
	margin: 0px;
}

.content-container {
	display: flex;				
	flex-direction: column;		
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;

	margin: auto;

	max-width: 1367px;
	min-width: 300px;
}

.content-container hr {
	width: 100%;
	border-color: #333333;
	border-width: 2px;

	margin: 10px;
}

.columns-container {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
}

.leftcol {
	padding: 15px;

	display: flex;				
	flex-direction: row;		
	flex-wrap: nowrap;	
}

.rightcol {
	padding: 15px;
}

.logo-container {
	display: flex;
	justify-content: center;
}

.logo-container .logo {
	width: 100px;
	height: 100px;
	background: #e0e0e0;
	border-radius: 50px;
	border: solid 2px #333333;
}

.logo-container .logo:before {
	content: "LOGO";
	display: flex;
	height: 100%;
	justify-content: center;
	align-items: center;
}

.navigation-container {
	display: flex;				
	flex-direction: row;		
	flex-wrap: nowrap;

	justify-content: flex-start;
}

.navigation-element {
	display: flex;				
	flex-direction: row;		
	flex-wrap: nowrap;
	min-width: 100px;
}

.navigation-element a span{
	margin-right: 5px; 
}

.rightcol .jumbotron {
	padding: 20px;
	background-color: #FFF;

	border: solid 2px #333333;
}
.rightcol .jumbotron .btn-primary {
	color: #fff;
	background-color: #333333;
	border-color: #2e2e2e;
	border-width: 2px;

	margin-top: 15px;
}
.rightcol .jumbotron .btn-primary:focus {
	color: #fff;
	background-color: #333333;
	border-color: #202020;
	border-width: 2px;
}
.rightcol .jumbotron .btn-primary:hover {
	color: #fff;
	background-color: #222222;
	border-color: #202020;
	border-width: 2px;
}
.rightcol .jumbotron .btn-primary:active {
	color: #fff;
	background-color: #222222;
	border-color: #202020;
	border-width: 2px;
}
.rightcol .jumbotron .btn-primary:active:focus {
	color: #fff;
	background-color: #434343;
	border-color: #5e5e5e;
	border-width: 2px;
}
.rightcol .email-container {
	display: flex;				
	flex-direction: row;	
	justify-content: flex-end;
	align-items: center;

	font-size: 18px;

	padding: 10px;
}

.rightcol .email-container .email-label {
	width: 40%;
	text-align: right;
	padding-right: 10px;
}

.rightcol .email-container .input-group {
	width: 60%;
}

.rightcol .row {
	margin-top: 25px;
}

.grid-container {
  padding: 0;
  margin-top: 0px;
  list-style: none;
  
  display: flex;
  
  flex-direction: row;		
  flex-wrap: wrap;
  justify-content: space-between;
}

.cell-item {
  padding: 10px;
  width: calc((100%/3) - 2em);

  min-height: 300px;
  margin-top: 30px;

  border: solid 2px #333333;
}

.cell-item .cell-header {
	font-size: 30px;
	margin-top: 10px;
}

.cell-item .cell-content {
	font-size: 17px;
	margin-top: 10px;
	padding: 5px;

    max-height: 26em;
	overflow: hidden;
}

.footer-container {
	min-width: 100%;
	padding-left: 10px;
	padding-right: 10px;

	display: flex;				
	flex-direction: row;		
	flex-wrap: nowrap;
	justify-content: space-between;	
}

.social-networks {
	font-size: 30px;

	display: flex;				
	flex-direction: row;		
	flex-wrap: nowrap;
}

.network {
	margin-left: 20px;
}

.footer-about {
	display: flex;				
	flex-direction: column;		
	flex-wrap: nowrap;
}

.footer-links {
	font-weight: bold;
	display: flex;				
	flex-direction: row;		
	flex-wrap: wrap;
}

.footer-links a{
	padding: 0 5px;
	border-right: 2px solid #333333;
}

.footer-links a:last-child{
	border-right: 0px;
}



@media (min-width: 1100px) {
	.columns-container {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: center;
	}

	.leftcol {			
		flex-direction: column;		
	}

	.navigation-container {	
		flex-direction: column;

		margin-top: 50px;
		padding-top: 40px;
		padding-bottom: 100px;

		border: solid 2px #333333;
	}

	.navigation-element {
		margin-left: 25px;
		margin-right: 25px;
		margin-bottom: 20px;

		font-size: 18px;
	}

	.navigation-element a {
		color: #333333;
		text-decoration: none
	} 
}

@media (min-width: 920px) and (max-width: 1099px) {
	.leftcol {
		align-items: center;
	}

	.navigation-element {
		margin: 0 25px;
		font-size: 18px;
		min-width: 0px;
	}

	.navigation-element a {
		color: #333333;
		text-decoration: none;

		display: flex;
		align-items: center;
	}

	.navigation-element a span {
		font-size: 32px;
	}

	.rightcol .row {
		margin-top: 25px;
	}
}

@media (min-width: 595px) and (max-width: 919px) {
	.navigation-container {
		padding-top: 0px;
		align-items: center;
		margin-left: 10px;
	}

	.navigation-element {
		margin-left: 25px;
		min-width: 0px;
	}

	.navigation-element {
		min-width: 0px;

		padding: 0 5px;
		margin-left: 0px;
		border-right: 2px solid #333333;
		padding-bottom: 0px;
	}

	.navigation-element:last-child {
		border-right: 0px;
	}

	.navigation-element a span{
		display: none;
	}

	.rightcol .jumbotron p {

		font-size: 16px;
	}
	.rightcol .jumbotron h1 {
		font-size: 24px;
	}

	.rightcol .email-container {
		font-size: 16px;
	}

	.cell-item {
	  width: calc((100%/2) - 1em);
	}

	.cell-item .cell-header {
		font-size: 24px;
	}

	.cell-item .cell-content {
		font-size: 16px;
	}

	.social-networks {
		font-size: 24px;
	}

	.footer-about {
		font-size: 12px;
	}
}

@media (max-width: 594px) {
	.leftcol {
		flex-direction: column-reverse;		
	}

	.navigation-container {
	  	justify-content: center;
	  	padding-top: 10px;
	  	padding-bottom: 20px;
	}

	.navigation-element {
		min-width: 0px;

		padding: 0 5px;
		margin-left: 0px;
		border-right: 2px solid #333333;
		padding-bottom: 0px;
	}

	.navigation-element:last-child {
		border-right: 0px;
	}

	.navigation-element a span { 
		display: none;
	}

	.rightcol .jumbotron p {
		font-size: 16px;
	}
	.rightcol .jumbotron h1 {
		font-size: 24px;
	}

	.rightcol .email-container {
		flex-direction: column;	
		font-size: 16px;

		align-items: left;
	}

	.rightcol .email-container .input-group {
		margin-top: 5px;
	}

	.rightcol .email-container .email-label {
		width: 100%;
	}

	.rightcol .email-container .input-group {
		width: 100%;
	}

	.rightcol .row {
		margin-top: 25px;
	}

	.cell-item {
	  width: 100%;
	}

	.cell-item .cell-header {
		font-size: 24px;
	}

	.cell-item .cell-content {
		font-size: 16px;
	}

	.social-networks {
		font-size: 24px;
	}

	.footer-about {
		font-size: 12px;
	}
}